

html{
    background-color: #35495e;
    color: #eee;
}

.app{
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    margin: 1rem;
    width: 80px;
    height: 50px;
    font-size: 20px;
    font-weight:bolder;
    background-color: #41b883;
    border: none;
}

button:hover{
    background-color: #379c6f;
}

.count{
    font-size: 2rem;
    font-weight: bold;
}